body{
    background-color:#1e202b ;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    padding: 2.5rem;
    background-color: #1e202b;
    
}
.container{
    max-width:1170px ;
}

.navDesc h1{
    font-size: 1.09rem;
  
}
.navDesc h6{
    font-size: 0.6rem;
    color: #bfc1c8;
}
.navbar ul li{
    margin-left: 0.6rem;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 3px 25px;
    border-radius: 30px; 
    border: 2px solid transparent;
    color: #fff;
transition: all 0.3s;
}
.navbar .navbar-nav .nav-item a:hover{
   border-color: #009ad8;
    color: #009ad8; 
}
.navbar .navbar-nav .nav-item .nav-link.active{
    border: 2px solid #009ad8;
    color: #009ad8;
}

section{
    background-image: url(../images/banner.png);
    background-size: cover;
    max-height: 350px;
    padding: 75px 0px;
    
}
.mydiv{
    margin-bottom: 50px;
}
section input , footer input{
   padding: 15px 20px;
   border: none;
   margin-bottom: 60px;
   background-color: #1e202b;
   outline: none;
 
}
footer input{
    margin-bottom: 15px;
}
section input::placeholder , footer input::placeholder{
   font-size: 0.95rem;
   
}
section input:focus , footer input:focus{
    color: white;
}
section #findInput , footer #SubscribeBtn{
    padding: 10px 36px;
    background-color: #009ad8;
position: absolute;
top: 5px;
right: 5px;
bottom: 5px;
color: #fff;
}
footer #SubscribeBtn{
    padding: 10px 20px;
}
.item1 {
    background-color: #262936;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
}

.item .item-nav-content{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
   color: #bfc1c8;
}
.item-body{
    padding: 20px;
}
#temprture{
    font-size: 6rem;
    font-weight: 700;
}
#description{
    color: #009ad8;
    margin: 20px 0px;
}
#loction{
    color: #bfc1c8; 
    font-size: 19px;  
}
.precentage{
    color: #bfc1c8; 
    margin-right: 20px; 
}
.precentage img{
    margin-right: 5px;
}
.item2 {
    background-color: #1e202b;
}
.item2 .item-body{
    padding: 53px 0px;
}
#HighnextDaytemprture , #HighnextNextDaytemprture{
    font-size: 1.8rem;
    font-weight: 700;
}
#LownextDaytemprture , #LownextNextDaytemprture{
    color: #bfc1c8;
}
.item3{
    background-color: #262936;
    border-end-end-radius:10px ;
    border-top-right-radius: 10px;
}
footer{
    padding: 50px 0px;
    background-color: rgb(38, 41, 54);
}
footer p{
    color: #bfc1c8;
    font-size: 0.9rem;
    font-weight: 300;
}
.icons i{
    width: 40px;
    height: 40px;
    background-color: #1e202b;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin-right: 8px;
}
.icons a{
    text-decoration: none;

}
.icons i:hover{
    background-color: #009ad8;
    color: #fff;
}